html, body {
  height: auto;
  margin: 0;
}

body {
  background-color: #939393;
  background: -webkit-linear-gradient(top, #4D4D4D 0, #4D4D4D 180px, #939393 400px);   

}

/*for the scroller start*/
/*original source for scroller http://codepen.io/logeek/pen/qsltK*/
#scroller {
  width: 500px;
  height: 200px;
  margin: 100px auto;
  padding: 50px 0;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
}

#scroller .item {
  width: auto;
  display: block;
  position: absolute;
  border-radius: 10px;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.85, transparent), to(rgba(255,255,255,0.15)));
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  z-index: 0;
}

/* Since inset shadows don't play nice with images, we'll create a pseudo element and apply our image styling to that instead */
#scroller .item:before {
  border-radius: 10px;
  width: 500px;
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3), 0 0 0 1px rgba(0,0,0,0.4);
}

#scroller .item img {
  display: block;
  border-radius: 10px;
}

#scroller .left {
  -webkit-transform: rotateY(25deg) translateX(-320px) skewY(-5deg) scale(0.4, 0.6);
  -moz-transform: rotateY(25deg) translateX(-320px) skewY(-5deg) scale(0.4, 0.6);
}

#scroller .middle {
  z-index:1;
  -webkit-transform: rotateY(0deg) translateX(0) scale(1.5);
  -moz-transform: rotateY(0deg) translateX(0) scale(1.5);
}

#scroller .right {
  -webkit-transform: rotateY(-25deg) translateX(320px) skewY(5deg) scale(0.4, 0.6);
  -moz-transform: rotateY(-25deg) translateX(320px) skewY(5deg) scale(0.4, 0.6);
}

#scroller .left-hidden {
  opacity: 0;
  z-index: -1;
  -webkit-transform: rotateY(25deg) translateX(-430px) skewY(-5deg) scale(0.3, 0.5);
  -moz-transform: rotateY(25deg) translateX(-430px) skewY(-5deg) scale(0.3, 0.5);
}

#scroller .right-hidden {
  opacity: 0;
  z-index: -1;
  -webkit-transform: rotateY(-25deg) translateX(430px) skewY(5deg) scale(0.3, 0.5);
  -moz-transform: rotateY(-25deg) translateX(430px) skewY(5deg) scale(0.3, 0.5);
}

.nav {
  position: absolute;
  width: 100%;
  height: 30px;
  margin: 220px 0 0;
  z-index: 2;
  
}

.prev, .next {
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  background-color: rgba(0,0,0,0.85);
  border-radius:15px;
  color: #E4E4E4;
  bottom: -45px;
  left: 15px;
  text-align: center;
  line-height: 26px;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5), 0 0 0 1px rgba(0,0,0,0.7);
}

.next {
  left: inherit;
  right: 15px;
}
@-moz-document url-prefix(){
  .next{left: 450px;
    }
}

/*.prev:hover, .next:hover {
  box-shadow: inset 0 0 0 2px rgba(255,255,255,0.5), 0 0 0 1px rgba(0,0,0,0.7);                
}*/

 img{height: 100%;}
/*for the scroller end*/


#info {height: auto;
      width: 400px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid red;
      background-color: white;
      color: blue;}

@media only screen and (min-width: 10px) and (max-width: 360px){

#scroller {
  margin: 100px -100px;
  padding: 50px 0;
}

#scroller .middle {
  z-index:1;
  -webkit-transform: rotateY(0deg) translateX(0) scale(.6);
  -moz-transform: rotateY(0deg) translateX(0) scale(.6);
}
.nav {
  width: 300px;
  height: 30px;
  margin: 160px 0 0 100px;
  z-index: 2;
  
}
#info {
      width: 300px;
      margin-top: -100px;}
}

@media only screen and (min-width: 360px) and (max-width: 410px){
#scroller {
  margin: 100px -60px;
  padding: 50px 0;
}

.nav {
  width: 300px;
  height: 30px;
  margin: 160px 0 0 100px;
  z-index: 2;
  
}
#scroller .middle {
  z-index:1;
  -webkit-transform: rotateY(0deg) translateX(0) scale(.8);
  -moz-transform: rotateY(0deg) translateX(0) scale(.8);
}

#info {width: 300px;
      margin-top: -100px;}

}
@media only screen and (min-width: 410px) and (max-width: 480px){
#scroller {
  margin: 100px -20px;
  padding: 50px 0;
}

.nav {
  position: absolute;
  width: 300px;
  height: 30px;
  margin: 160px 0 0 100px;
  z-index: 2;
  
}
#scroller .middle {
  z-index:1;
  -webkit-transform: rotateY(0deg) translateX(0) scale(.9);
  -moz-transform: rotateY(0deg) translateX(0) scale(.9);
}

#info {width: 300px;
      margin-top: -100px;}

}

@media only screen and (min-width: 481px) and (max-width: 510px) {

#scroller {
  margin: 100px 0px;
  padding: 50px 0;
}
.nav {
  position: absolute;
  width: 300px;
  height: 30px;
  margin: 160px 0 0 100px;
  z-index: 2;
}
#scroller .middle {
  z-index:1;
  -webkit-transform: rotateY(0deg) translateX(0) scale(1);
  -moz-transform: rotateY(0deg) translateX(0) scale(1);
}

#info {width: 400px;
      margin-top: -100px;}

}

@media only screen and (min-width: 511px) and (max-width: 620px) {

#scroller {
  margin: 100px 40px;
  padding: 50px 0;
}
.nav {
  position: absolute;
  width: 400px;
  height: 30px;
  margin: 180px 0px;
  z-index: 2;
}

#scroller .middle {
  z-index:1;
  -webkit-transform: rotateY(0deg) translateX(0) scale(1.2);
  -moz-transform: rotateY(0deg) translateX(0) scale(1.2);
}

#info {width: 500px;
      margin-top: -80px;}
}




