body {
background-color: lightgrey;
}

hr {border: 2px solid black;}

a {color: #2978A1;
	font-weight: bold;}
a:hover {color: #831B15;}

footer {text-align: center;
		background-color: white;
		 
		padding: 2%;}


#meetup-logo {height: 60px;
			
			}

.title-area{height: auto;}

.intro {
	background-color: white;
	padding: 100px 100px;
	}
	.intro h1 {font-size: 100px;
				text-align: center;
				font-weight: bold;}
	.intro h2 {font-size: 70px;
				text-align: center;}

.long-row {max-width: 100%; }

.home-about {	
			border: 1px solid green;
			border-radius: 20px;
			background-color: white;
			text-align: center;
			margin-bottom: 20px;}

.student-learn-icons {height: auto;
				background-color: lightgrey;
				text-align: center;
				padding: 0px 20px;
				margin-top: 0px;}
	.student-learn-icons ul li {display: inline-block;
							margin: 0 50px;}

/*.student-learn {}*/

.student-learn p{font-size: 26px;}

.apply-button {height: auto;
				width: 80%;
				font-size: 60px;
				border-radius: 20px;
				margin-top: 3%;
				margin-left: 10%;}

.apply-desc {background-color: #831B15;
					color: white;
					border-left: none;
					border-top: none;
					padding: 3%;
					padding-bottom: 5%;
					opacity: 0.9;}

	.apply-desc h2 {color: white;}
	.apply-desc p {font-size: 24px;}
.se-timeline {height: auto;
				/*border: 20px solid lightgrey;*/
				background-color: #1B435E;
				color: white;
				text-align: center;
				padding-top: 3%;
				}
	.se-timeline h2, .se-timeline h3{ color: white;}
	.se-timeline ul li{display: inline-block;
							margin: 0 40px;
							text-align: center;}		
.timeline-description {height: 25%;
						text-align: center;
						width: 40%;
						margin-left:auto;
						margin-right: auto; }

	.timeline-thumb {width: 100px;}


.se-testimonial {padding: 50px 0px;
				background-color: lightgrey;
				text-align: center;
				}
	.testimonial-thumb {margin-bottom: 20px;
						display: in}
	.testimonial-thumb img{border-radius: 20%;
					text-align: center;
					display: inline-block;
					vertical-align: top;}
	.testimonial-thumb p {display: inline-block;
							vertical-align: top;
							width: 80%;
							font-size: 26px;}


.se-contain {background-color: lightgrey;}

.se-intro-desc {background-color: white;
		opacity: 0.9;
		margin-top: 3%;}
	.se-intro-desc p {font-size: 24px;}

/*header start*/
#topbar {margin: 0 5%;
		max-width: 100%;}
#center-logo {display: inline-block;
				margin-left: 40%;
				position: relative;
				top: 140px;
				z-index: 100;
				margin-top: -100px;}

.top-bar-section ul li a {font-size: 32px;}
/*header end*/


/* home page start*/
#test1 {background-color: #691511;
		margin-top: 20%;
		padding: 20px 0 20px 20px;
		}
	#test1 h3 {color: white;}
#a100-desc-contain {background-image: url('img/cohort_photo_color.png');
background-repeat: no-repeat;
	background-size:100%;
background-position:center;
}
/*#a100-group-background {text-align: left;
				margin: 5% 0;
			
			}
	#a100-group-background h2 {color: white;
						background-color: #691511;
						opacity: 0.9}*/
	#home-a100-desc {background-color: white;}

#home2-intro {background-image: url('img/people.jpg');
background-repeat: no-repeat;
	background-size:100%;
background-position:center;
padding-right: 0;
padding-left: 0;}
#home-intro-students {
					/*display: inline-block;*/
					/*background-color: grey;*/
					}
	#home-intro-students h1 {color: white;}

#home-intro-partners {	display: inline-block;
						vertical-align: bottom;
						margin-top: 10%;
					}
	#home-intro-students h2 {color: white;}

#info-home {background-color: #1B435E;
			/*margin-bottom: 5%;*/
			padding: 40px 80px;
			opacity: 0.9; }

	#info-home p {font-size: 24px;}
/*home page end*/


/*students start*/
.item2 {border: 10px solid white;}

#student-intro {text-align: center;
				background-image: url('img/people4.jpg');
background-repeat: no-repeat;
	background-size:100%;
background-position:center;
opacity: 0.8}
	

/*students end*/

/*employers start*/
	
#employer-intro {
	text-align: center;
	background-image: url('img/people4.jpg');
	background-repeat: no-repeat;
	background-size:100%;
	background-position:center;
	opacity: 0.8
}		
/*employers end*/

/*alumni start*/

#alumni-intro {background-image: url('img/cohort_photo_color.png');
background-repeat: no-repeat;
	background-size:100%;
background-position:center;
opacity: 0.9;
padding-top: 20%;
}
	#alumni-intro h2 {color: white;
						height: auto;}
#alumni-portfolio {background-color: #1B435E;
				margin: 50px 0;
				padding: 40px 30px;
				text-align: center;}
	#alumni-portfolio h3 {text-align: center;
						color: white;}			

#modal-flipbook {z-index: 100;
				}
	#modal-flipbook .flipbook {
			border: 1px solid red;}
		
	.folio-page {border: 5px solid black;
				background-color: grey;}



/*alumni end*/


@media only screen and (min-width: 10px) and (max-width: 1300px){
	#grid-contain {padding: 0px;}
	#grid-contain .item {width: 100%}
	#for-you{width: 100%;}
	#cover-testimonial {width: 100%;}
	#headshot {height: 150px;
				width: 150px;
				display: inline-block;}
	#portfolio img {width: 40%;}
	#learn {width: 100%;
			height: auto;
			display: inline-block;}
		#learn ul li {display: inline-block;}

}
/*small screens*/

@media only screen and (max-width: 40em) {
		#center-logo {display: inline-block;
				margin-left: 5%;
				position: relative;
				top: 50px;
				z-index: 5;
				margin-top: 0;
				height: 100px;	
				width: 100px;
			}
		.top-bar-section ul li a {font-size: 20px;}

		.intro {
	padding: 20px 20px;
	}
		.intro h1 {font-size: 30px;
				text-align: center;
				font-weight: bold;}
	.intro h2 {font-size: 36px;
				text-align: center;}

	#info-home{padding: 10px;}
	
	.intro-icon {width: 100px;}

	.se-timeline ul li {margin: 0 20px;}

	body {background-image: none;
	}

	.testimonial-thumb img{border-radius: 20%;
					text-align: center;
					display: inline-block;
					vertical-align: top;}
	.testimonial-thumb p {display: inline-block;
							vertical-align: top;
							width: 100%;}
	#home2-intro {background-image:none;
		background-size: 100%;
		margin-top: 0%;
		padding: 0;}
	#home-intro-students {background-color: #1B435E;}
	#home-a100-desc {margin: 0%;}
	#employer-intro {background-image: none;}
	#student-intro {background-image: none;}
	#test1 {margin-top: 0;
			text-align: center;}
 }

 /*medium screens*/
 @media only screen and (min-width: 40.063em) and (max-width: 64em) { 
 	.intro {
	/*border: 1px solid red;*/
	background-color: white;
	padding: 100px 100px;
	}
 	.intro h1 {font-size: 70px;
				text-align: center;
				font-weight: bold;}
	.intro h2 {font-size: 50px;
				text-align: center;}

	#topbar {margin: 0;
		max-width: 100%;}
		#topbar ul li a {font-size: 20px;}

	#center-logo {
				top: 100px;
				margin-top: -100px;
				height: 200px; 
				width: 200px;}

	.intro-icon {width: 150px;}


	#home2-intro {background-size: 150%}
	#a100-desc-contain {background-size: 110%;}
	#home-a100-desc {margin: 10% 0 0 0;}
	#employer-intro {background-image: none;}
	#student-intro {background-image: none;}
 }
 }



