body {
/*background-color: #6e4030;*/
background-color: lightgrey;

}

hr {border: 2px solid black;}

a {color: #2978A1;
	font-weight: bold;}
a:hover {color: #831B15;}

footer {text-align: center;
		background-color: white;
		 
		padding: 2%;}

#meetup-logo {height: 60px;
			
			}

.title-area{height: auto;}

.intro {
	background-color: white;
	padding: 100px 100px;
	}
	.intro h1 {font-size: 100px;
				text-align: center;
				font-weight: bold;}
	.intro h2 {font-size: 70px;
				text-align: center;}

.long-row {max-width: 100%; }
#home2-intro {}
#info-home {height: auto;
			background-image: url('img/new_haven.jpg');
			/*background-color: #1B435E;*/
			/*margin: 60px 0;*/
			padding: 40px 80px;
			margin: 20px 0;
			 }

	#info-home p {font-size: 24px;}

.home-about {	
			border: 1px solid green;
			border-radius: 20px;
			background-color: white;
			text-align: center;
			margin-bottom: 20px;}

.student-learn {height: auto;
				border: 10px solid white;
				/*background-color: lightgrey;*/
				text-align: center;
				padding: 0px 20px;
				margin-top: 100px;}
	.student-learn ul li {display: inline-block;
							margin: 0 50px;}

.apply-button {height: auto;
				width: 80%;
				font-size: 60px;
				border-radius: 20px;
				margin-top: 3%;
				margin-left: 10%;}

.apply-desc {background-color: #831B15;
					color: white;
					border-left: none;
					border-top: none;
					margin-top: 10%;
					padding: 3%;
					padding-bottom: 5%;}

	.apply-desc h2 {color: white;}
	.apply-desc p {font-size: 24px;}

/*header start*/
#topbar {margin: 0 5%;
		max-width: 100%;}
#center-logo {display: inline-block;
				margin-left: 40%;
				position: relative;
				top: 140px;
				z-index: 100;
				margin-top: -100px;}

.top-bar-section ul li a {font-size: 32px;}
/*header end*/


/* home page start*/
#home-a100-desc {text-align: center;
				margin: 5% 0;}
#home2-intro {
	}
#home-intro-students {
					display: inline-block;
					}

#home-intro-partners {
						display: inline-block;
						vertical-align: bottom;
						margin-top: 10%;
					 /*background-image: url('img/puzzle_missing.jpg');
	background-repeat: no-repeat;*/
	}
	#home-intro-partners h2 {}
#info-home{ margin-bottom: 5%;}
/*home page end*/


/*students start*/
.item2 {border: 10px solid white;}
.se-contain {background-color: white;}
#student-intro {text-align: center;}
#student-timeline {height: auto;
				border: 10px solid green;
				text-align: center;
				}
	#student-timeline ul li{display: inline-block;
							margin: 0 40px;
							text-align: center;}			
	.timeline-thumb {width: 100px;}
	#timeline-description {height: 20%;
							}

.se-testimonial {padding: 50px 30px;
				/*background-color: pink;*/
				text-align: center;
				border: 10px solid white;}
	.testimonial-thumb {padding-left: 7%;
						padding-right: 7%;}
	.testimonial-thumb img{border-radius: 20%;
					text-align: center;
					}
#student-portfolio {padding: 0;
					margin-left: 0px;
					/*border: 10px solid #1B435E;*/
					}



/*students end*/

/*employers start*/
#employer-timeline {height: auto;
				border: 10px solid green;
				text-align: center;
				}
	#employer-timeline ul li{display: inline-block;
							margin: 0 40px;
							text-align: center;}	
#employer-intro {text-align: center;}		
	
/*employers end*/

/*alumni start*/

#alumni-portfolio {background-color: orange;
				margin-bottom: 30px;
				padding: 40px 30px;}
	#alumni-portfolio h2 {text-align: center;}			

#modal-flipbook {z-index: 100;
				}
	#modal-flipbook .flipbook {
			border: 1px solid red;}
		
	.folio-page {border: 5px solid black;
				background-color: grey;}

#alumni-testimonial {background-color: lightgreen;
					height: auto;
					margin-bottom: 10%;}

.gone {display: none;}
/*alumni end*/


/*grid start
#grid-body { height: auto;
			background-color: lightgrey}
#grid-contain {margin: 60px 0 0 0;
				
				padding:10px;
				height: auto;
			}

.item {
		margin-top: 15px;
		margin-bottom: 15px;
		margin: 15px 0 0 15px;
		background-color: transparent;
		border: 20px solid #366089;
		border-radius: 20px;
		padding: 100px 10px;
	}

#for-you {font-size: 24px;
		 text-align: center;
		 width: 49%;
		 width: 30%;
		}
  	#for-you h3 {text-align: center;}
  	#for-you h4 {text-align: center;}
	#for-you ul{list-style-type: none;}

#cover-testimonial {width: 49%;}
	#cover-testimonial p {display: inline-block;}
		
#portfolio {width: 60%;
			width: 30%;
			height: auto;
			text-align: center;}
	#portfolio img {width: 60%;
					display: inline-block;
					border-radius: 20px;}
#learn {width: 15%;
		height: 600px;
		text-align: center;}
	#learn ul {list-style-type: none;}
#apply {width: 20%;
		height: auto;
		text-align: center; }
#timeline{
	width: 40%;
	width:100%;
}
#blank1 {border: none;
		width: 19%;}

.orbit-slide-number {display: none;}*/

/*grid end*/



@media only screen and (min-width: 10px) and (max-width: 1300px){
	#grid-contain {padding: 0px;}
	#grid-contain .item {width: 100%}
	#for-you{width: 100%;}
	#cover-testimonial {width: 100%;}
	#headshot {height: 150px;
				width: 150px;
				display: inline-block;}
	#portfolio img {width: 40%;}
	#learn {width: 100%;
			height: auto;
			display: inline-block;}
		#learn ul li {display: inline-block;}

}
/*small screens*/

@media only screen and (max-width: 40em) {
		#center-logo {display: inline-block;
				margin-left: 5%;
				position: relative;
				top: 50px;
				z-index: 5;
				margin-top: 0;
				height: 100px;
				width: 100px;}
		.top-bar-section ul li a {font-size: 20px;}

		.intro {
	border: 1px solid red;
	padding: 20px 20px;
	}
		.intro h1 {font-size: 30px;
				text-align: center;
				font-weight: bold;}
	.intro h2 {font-size: 36px;
				text-align: center;}

	#info-home{padding: 10px;}
	
	.intro-icon {width: 100px;}

	#student-timeline ul li {margin: 0 20px;}
 }

 /*medium screens*/
 @media only screen and (min-width: 40.063em) and (max-width: 64em) { 
 	.intro {
	border: 1px solid red;
	background-color: white;
	padding: 100px 100px;
	}
 	.intro h1 {font-size: 70px;
				text-align: center;
				font-weight: bold;}
	.intro h2 {font-size: 50px;
				text-align: center;}

	#topbar {margin: 0;
		max-width: 100%;}
		#topbar ul li a {font-size: 20px;}

	#center-logo {
				top: 100px;
				margin-top: -100px;
				height: 200px; 
				width: 200px;}

	.intro-icon {width: 150px;}
 }



